:root {
  --bg-green : hsl(179, 62%, 43%);
  --bg-btn: hsl(71, 73%, 54%);
  --tx-gray: hsl(204, 43%, 93%);
  --tx-blue: hsl(218, 22%, 67%);
}

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');



* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  font-size: 1rem;
}

body {
  background: var(--tx-gray);
  padding: 2rem;
}

h3{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}


.container .grid-row{
  padding: 2rem;
  
}

/* row-1 */
.row-1{
  background-color: white;
}

.row-1 h3{
  color: var(--bg-green);
  
}

.row-1 h4{
  color:hsl(71, 73%, 54%);
  margin: 1.5rem 0;
}

.row-1 p {
  color: hsl(218, 22%, 67%);
  line-height: 1.7;
  margin-bottom: 1rem;
}

/* row-2 */

.row-2{
  background: hsl(179, 62%, 43%);
  
}

.row-2 h3{
  color: white;
}

.row-2 h1{
  color: white;
  display: flex;
  align-items: center;
}

.row-2 span {
  font-size: 1rem;
  color:hsl(204, 43%, 93%);
  font-weight :400;
  margin-left: 1rem;
  opacity: 0.5;
}

.row-2 p {
  color:hsl(204, 43%, 93%);
  margin: 1rem 0 2rem 0;
}

.row-2 button {
  background: hsl(71, 73%, 54%);
  border: none;
  color:hsl(204, 43%, 93%);
  font-weight: 700;
  padding: 1rem 5rem;
  border-radius: .5rem;
  width: 100%;
  box-shadow: 0px 0px 5px gray;
  font-size: 1rem;
}

/* row-3 */

.row-3{
  background: hsl(179, 62%, 43%);
  opacity: 0.8;
}

.row-3 h3 {
  color: white;
}

.row-3 ul li {
  color:hsl(204, 43%, 93%);
  line-height: 1.5;
  list-style-type: none;
  
}

footer {
  width: 100%;
  display: grid;
  place-items: center;
  margin: 2rem 0;
}

footer > p {
  text-align: center;
}
@media (min-width: 1024px) {

  body{
    padding: 10rem 5rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 2rem;
    width: 50rem;
    margin: auto;
  }

  .container .row-1 {
    grid-column: 1/span 2;
  }

  .container .grid-row {
    padding: 3rem 3rem;
  }

  .row-1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .row-2{
    border-bottom-left-radius: 10px;
  }

  .row-3{
    border-bottom-right-radius: 10px;
  }
}

@media (max-width: 1023px) {
  body .container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
    width: 23rem
  }

  .row-1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .row-3 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    
  }
}